---
// Komponenten importieren
import Header from '../components/Header.astro'

// Bilder importieren
import skiImage from '../assets/images/ski.jpg'

// Externes CSS importieren
import '../css/fonts.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header title="Erster Header"/>
		<Header title="Zweiter Header"/>
		<Header title="Dritter Header"/>
		<h1>Wiederholung Astro</h1>
		<img src={skiImage.src} alt="">
	</body>
</html>

<style>
	/* Internes CSS wird nur auf HTML-Elemente innerhalb der Datei angewendet */
	body {
		background-color: rgb(111, 0, 255);
	}

	h1 {
		color: white;
	}

	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
</style>