---
// Frontmatter-Bereich für Import
---

<nav>
  <ul>
    <li>Home</li>
    <li>Kontakt</li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--blue);
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }
</style>