<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/submit" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

<!-- HTML-Formulare werden Eingabewerte im DOM gehalten, bis das Formular abgeschickt wird -->

<!-- Solange das Formular nicht abgeschickt wird, sind die Daten nur im Browser sichtbar und können nicht direkt vom Server oder Skripten verarbeitet werden -->

