---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
		<h1>About Me</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est culpa fugit perferendis commodi eligendi velit nulla sit iure, nobis iusto ad explicabo voluptatem sapiente iste quas maiores repellat, obcaecati illum?</p>
    <a href="/">Zurück zur Startseite</a>
	</body>
</html>