

<nav>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Snowboard</li>
  </ul>
</nav>

<style>
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  nav {
    background-color: aliceblue;
  }

  @media (min-width: 768px) {
    nav {
      background-color: orangered;
    }
  }
</style>