@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

.headline-xl {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

