@font-face {
  font-family: 'Quicksand';
  src: url(/fonts/Quicksand-Bold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

.headline-xl {
  font-size: 2rem;
  font-family: 'Quicksand';
  font-weight: 600;
  font-style: normal;
}